In [3]:
from __future__ import print_function
import pandas as pd
import pylab as pl
import json
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [5]:
from google.colab import drive
from IPython.display import Image
drive.mount("/content/drive")

Mounted at /content/drive

In [6]:
cd /content/drive/MyDrive/MLPNS2021/

/content/drive/MyDrive/MLPNS2021

In [7]:
womenserv = pd.read_csv("NYC_Women_s_Resource_Network_Database.csv")
womenserv.head()

,OrganizationName,Brooklyn,Bronx,Manhattan,Queens,Staten Island,Fax,Phone,URL,noURL,...,Foundation,Is registered with the Attorney General's office,New York City Agency,None of the above,Nonprofit,Comments,Other government organization,Published,Location 1,Location 2
0,YWCA of the City of New York,Y,N,Y,N,Y,2.122236e+09,2.127554e+09,http://www.ywcanyc.org,N,...,N,N,N,N,Y,NaN,N,Published,NaN,NaN
1,Charles B. Wang Community Health Center,N,N,Y,N,N,NaN,2.129660e+09,http://www.cbwchc.org/hcs/wh/wh.html,N,...,N,N,N,N,Y,NaN,N,Published,NaN,NaN
2,Shorefront YM-YWHA,Y,N,N,N,N,7.186460e+09,7.186461e+09,http://shorefronty.org,N,...,N,N,N,N,Y,NaN,N,Published,NaN,NaN
3,Federally Employed Women (FEW),Y,Y,Y,Y,Y,NaN,6.312584e+09,http://www.few.org,N,...,N,N,N,N,Y,NaN,N,Published,"382 Holtsville\n11742\n(40.81054142444725, -73...",NaN
4,Sauti Yetu Center for African,Y,Y,Y,Y,Y,7.186652e+09,7.186652e+09,http://www.sautiyetu.org,N,...,N,N,N,N,Y,NaN,N,Published,"3112 New York\n10163\n(40.75296200039605, -73....",NaN

In [8]:
for br in 'Brooklyn', 'Bronx', 'Manhattan', 'Queens', 'Staten Island':
    womenserv[br][womenserv[br] == 'Y'] = 1
    womenserv[br][womenserv[br] == 'N'] = 0
    
womenserv.head()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,OrganizationName,Brooklyn,Bronx,Manhattan,Queens,Staten Island,Fax,Phone,URL,noURL,...,Foundation,Is registered with the Attorney General's office,New York City Agency,None of the above,Nonprofit,Comments,Other government organization,Published,Location 1,Location 2
0,YWCA of the City of New York,1,0,1,0,1,2.122236e+09,2.127554e+09,http://www.ywcanyc.org,N,...,N,N,N,N,Y,NaN,N,Published,NaN,NaN
1,Charles B. Wang Community Health Center,0,0,1,0,0,NaN,2.129660e+09,http://www.cbwchc.org/hcs/wh/wh.html,N,...,N,N,N,N,Y,NaN,N,Published,NaN,NaN
2,Shorefront YM-YWHA,1,0,0,0,0,7.186460e+09,7.186461e+09,http://shorefronty.org,N,...,N,N,N,N,Y,NaN,N,Published,NaN,NaN
3,Federally Employed Women (FEW),1,1,1,1,1,NaN,6.312584e+09,http://www.few.org,N,...,N,N,N,N,Y,NaN,N,Published,"382 Holtsville\n11742\n(40.81054142444725, -73...",NaN
4,Sauti Yetu Center for African,1,1,1,1,1,7.186652e+09,7.186652e+09,http://www.sautiyetu.org,N,...,N,N,N,N,Y,NaN,N,Published,"3112 New York\n10163\n(40.75296200039605, -73....",NaN

### Jaccard distance: co-occurrences / all

In [9]:
print ("How similar is Brooklyn to the Bronx?")
    
coocc =  womenserv.Brooklyn.values + womenserv.Bronx.values

m = np.sum(coocc == 0) + np.sum(coocc == 2)
p = len(coocc)

print ("distance Brooklyn to the Bronx", (p - m) * 1.0 / p)


print ("How similar is Manhattan to the Bronx?")
    
coocc =  womenserv.Manhattan.values + womenserv.Bronx.values
m = np.sum(coocc == 0) + np.sum(coocc == 2)
p = len(coocc)

print ("distance Manhattan to the Bronx", (p - m) * 1.0 / p)


print ("How similar is Manhattan to Brooklyn?")
    
coocc =  womenserv.Manhattan.values + womenserv.Brooklyn.values
m = np.sum(coocc == 0) + np.sum(coocc == 2)
p = len(coocc)

print ("distance Manhattan to Brooklyn", (p - m) * 1.0 / p)



print ("How similar is Manhattan to SI?")
    
coocc =  womenserv.Manhattan.values + womenserv['Staten Island'].values
m = np.sum(coocc == 0) + np.sum(coocc == 2)
p = len(coocc)

print ("distance Manhattan to SI", (p - m) * 1.0 / p)

print ("How similar is the Bronx to SI?")
    
coocc =  womenserv.Bronx.values + womenserv['Staten Island'].values
m = np.sum(coocc == 0) + np.sum(coocc == 2)
p = len(coocc)

print ("distance the Bronx to SI", (p - m) * 1.0 / p)

How similar is Brooklyn to the Bronx?
distance Brooklyn to the Bronx 0.21958762886597938
How similar is Manhattan to the Bronx?
distance Manhattan to the Bronx 0.51340206185567
How similar is Manhattan to Brooklyn?
distance Manhattan to Brooklyn 0.588659793814433
How similar is Manhattan to SI?
distance Manhattan to SI 0.4793814432989691
How similar is the Bronx to SI?
distance the Bronx to SI 0.0979381443298969

In [10]:
print ("Bronx", np.where(womenserv.Bronx>0))
print ("SI", np.where(womenserv['Staten Island']>0))

Bronx (array([  3,   4,   5,   6,   9,  11,  12,  13,  14,  15,  19,  42,  43,
        58,  70,  71,  76,  77,  89,  96,  98,  99, 137, 138, 156, 166,
       173, 178, 189, 192, 199, 223, 226, 229, 233, 236, 239, 240, 243,
       244, 245, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257,
       258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270,
       271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 284,
       285, 288, 289, 291, 293, 294, 298, 299, 304, 307, 308, 310, 314,
       316, 317, 318, 320, 323, 327, 333, 338, 340, 342, 343, 344, 348,
       350, 352, 353, 356, 357, 361, 363, 364, 365, 366, 368, 371, 372,
       375, 376, 377, 381, 384, 387, 390, 394, 398, 401, 405, 410, 414,
       415, 417, 418, 419, 420, 422, 423, 427, 428, 429, 431, 434, 441,
       442, 444, 445, 446, 448, 451, 452, 454, 455, 462, 463, 464, 465,
       469, 476, 478, 484, 489, 490, 494, 499, 501, 504, 520, 527, 530,
       535, 538, 539, 541, 542, 544, 548, 549, 551, 588, 592, 593, 601,
       607, 616, 627, 633, 640, 643, 686, 702, 710, 731, 783, 784, 785,
       790, 791, 792, 793, 794, 795, 796, 800, 802, 807, 826, 833, 842,
       843, 852, 865, 893, 899, 900, 916, 923, 942]),)
SI (array([  0,   3,   4,   5,   6,   9,  11,  12,  13,  19,  22,  35, 107,
       137, 138, 159, 166, 183, 192, 226, 233, 236, 239, 240, 244, 245,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 285, 289, 291,
       293, 294, 296, 299, 304, 308, 310, 314, 317, 318, 320, 338, 340,
       342, 344, 350, 353, 356, 361, 363, 364, 365, 368, 372, 375, 377,
       381, 387, 390, 394, 401, 414, 415, 420, 427, 428, 429, 431, 437,
       442, 444, 445, 448, 449, 455, 462, 463, 464, 465, 478, 484, 490,
       494, 499, 501, 504, 520, 527, 535, 538, 539, 541, 542, 544, 548,
       549, 550, 551, 558, 564, 592, 593, 598, 633, 640, 737, 780, 783,
       784, 785, 792, 793, 794, 795, 796, 800, 893, 916, 935]),)